.primary-category-feed {

  display: flex;
  flex-wrap: wrap;

  &__article {
    flex-grow: 1;
    margin-bottom: 30px;
    width: 33%;
  }

  &__article-title {
    font-size: 20px;
  }

  &__article-date {
    font-size: 14px;
  }

  &__article-excerpt {
    font-size: 16px;
  }

}
